* {
    display: block;
    width:inherit;
}

body {
    width: 300px;
}

h1 {
    font: 18px sans-serif;
}

textarea {
    font: 12px sans-serif;
    resize: none;
    width: 97%;
}

.output-area {
    font: 16px sans-serif;
    padding: 4px;
}

.history-area {
    display: none;
}
